body {
  font-family: "Manrope", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
  font-size: 15px;
  color: #D8935C;
  margin: 0;
  padding: 0;
} 


nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 18px 60px;
  border-bottom: 1px solid #cccccc;
  background-color: #fff6e8;
}


 
.logo img {
  width: 100px;
  height: 50px;
}
 
.nav-liens {
  display: flex;
  align-items: center;
  gap: 50px;
}

.nav-liens .bouton-noir {
  color: white;
}
 
.nav-liens a {
  text-decoration: none;
  color: #6b453b;
  font-size: 14px;
}
 
.bouton-noir:hover {
  text-decoration: none;
}

h1{
  font-size: 100px;
  font-family: "Cormorant Garamond", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  color: #fff1da;
}

h2 {
  font-size: 40px;
  text-align: center;
  margin-bottom: 15px;
  font-weight: bold;
  font-family: "Cormorant Garamond", serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
}
 
h3 {
  font-size: 25px;
  margin-bottom: 20px;
  align-items: center;
  color: #845b3b;
  font-weight: bold;
  font-family: "Cormorant Garamond", serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
}
 
p {
  color: #555555;
  line-height: 1.7;
}
 
img {
  width: 100%;
  display: block;
  object-fit: cover;
}
 
section {
  padding: 70px 60px;
}
 
.gris {
  background-color: #eeeeee;
}

.gris title {
  color: #ffffff;
}
 
.intro-texte {
  text-align: center;
  width: 650px;
  margin: 0 auto 40px auto;
}
 
 




 
.bouton-noir {
  background-color: #111111;
  color: #fff6e8;
  border: 2px solid #111111;
  padding: 10px 24px;
  cursor: pointer;
  font-size: 14px;
  border-radius: 3px;
}
 
.bouton-noir:hover {
  background-color: #181818;
}
 
.bouton-blanc {
  background-color: #D8935C;
  color: #ffffff;
  border: 2px solid black;
  padding: 13px 30px;
  cursor: pointer;
  font-size: 14px;
  border-radius: 3px;
}
 
.bouton-blanc:hover {
  background-color: #111111;
  color: #ffffff;
}


 
.hero {
  display: flex;
  background-color: #D8935C;
  padding: 80px 60px;
  gap: 40px;
  align-items: center;
}
 
.hero-texte {
  flex: 1;
  color: white;
}
 
.hero-texte h1 {
  font-size: 52px;
  margin-bottom: 12px;
}
 
.hero-texte p {
  font-size: 16px;
  margin-bottom: 30px;
  color: 2E2A26;
}
 
.hero-boutons {
  display: flex;
  gap: 14px;
}
 
.hero-image {
  flex: 1;
  height: 350px;
}
 
.hero-image img {
  height: 100%;
}
 


#promesse{
  background-color: #fff6e8;
}

 
.promesse-contenu {
  display: flex;
  gap: 60px;
  align-items: flex-start;
  width: 1100px;
  margin: 2px auto;
}
 
.promesse-images {
  flex: 1;
}
 
.img-grande {
  height: 400px;
  margin-bottom: 20px;
}
 
.deux-images {
  display: flex;
  gap: 14px;
}
 
.deux-images img {
  height: 130px;
  flex: 1;
}
 
.promesse-liste {
  flex: 1;
}
 
.item {
  display: flex;
  gap: 14px;
  margin-bottom: 20px;
  align-items: flex-start;
}
 
.coche {
  font-size: 16px;
  font-weight: bold;
  color: #111111;
  margin-top: 2px;
}


#services-gris{
  text-align: center;
  background-color: #ffffff;

}
.services-grille {
  display: flex;
  gap: 28px;
  width: 1200px;
  margin: 10px auto;
  border-radius: 20px;
}

.services h3 {
  text-align: center;
}

.service-carte {
  flex: 1;
  background-color: #fff6e8;
  border-radius: 20px;
  padding: 30px;
}
 
.service-carte img {
  height: 200px;
  margin-bottom: 30px;
  border-radius: 3%;

}
 
.service-carte p {
  margin-bottom: 30px;
}
 
 

#realisations{
  background-color: #fff6e8;
}
 
.realisation {
  display: flex;
  gap: 40px;
  align-items: center;
  padding: 40px 0;
  border-top: 1px solid #cccccc;
  max-width: 1100px;
  margin: 0 auto;
}
 
.realisation:last-child {
  border-bottom: 1px solid #cccccc;
}
 
.realisation img {
  width: 500px;
  height: 320px;
}
 
.realisation div {
  flex: 1;
}
 
.realisation.inverse {
  flex-direction: row-reverse;
}





.temoignages {
  padding: 70px 60px;
  background-color: #fff6e8;
}

.temoignages h2 {
  margin-bottom: 40px;
}

.temoignages-grille {
  display: flex;
  gap: 24px;
  max-width: 1100px;
  margin: 0 auto;
}

.temoignage-carte {
  flex: 1;
  background-color: #fff6e8;
  border: 1px;
  padding: 28px;
  border-radius: 20px;
}

.temoignage-carte p {
  font-style: italic;
  margin-bottom: 20px;
}

.auteur-texte strong {
  display: block;
  font-size: 14px;
  color: #111111;
}

.auteur-texte span {
  font-size: 12px;
  color: #888888;
}



 
footer {
  background-color: #111111;
  color: #ffffff;
  padding: 70px 60px 30px 60px;
}
 
.footer-contenu {
  display: flex;
  gap: 60px;
  align-items: flex-start;
  max-width: 1100px;
  margin: 0 auto 50px auto;
}
 
.footer-gauche {
  flex: 1;
}
 
.footer-gauche h2 {
  text-align: left;
  font-size: 28px;
  margin-bottom: 16px;
  color: #ffffff;
}
 
.footer-gauche p {
  color: #bbbbbb;
  margin-bottom: 24px;
  line-height: 1.8;
}
 
.reseaux {
  display: flex;
  gap: 12px;
}
 
.reseaux span {
  width: 34px;
  height: 34px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 12px;
  font-weight: bold;
  cursor: pointer;
  color: #ffffff;
  text-decoration: none;
}

 
.reseaux span:hover {
  border-color: #ffffff;
}
 
.footer-gauche{
  color: #D8935C;

}
.footer-formulaire {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 12px;
}
 

.footer-formulaire input,
.footer-formulaire textarea {
  width: 100%;
  padding: 11px 14px;
  border: 1px solid #444444;
  background-color: #222222;
  color: #ffffff;
  font-size: 14px;
  border-radius: 3px;
  font-family: "Manrope", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}
 

 

 





 
